<header>
    <nav id="main-nav">
        <div class="container">
                <img src="http://www.mom.gov.et/wp-content/uploads/2021/10/momlogo.jpg" alt="NewsGrid" class="logo">
                <div class="social">
                    <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                </div>
                <ul>
                    <li>
                        <form action="/requests" method="post">
                            <button class="current">Requests</button>
                        </form>
                        <!-- <a class="current" href="index.html">Requests</a></li> -->
                        <!-- <li><a href="about.html">History</a></li> -->
                        <form action="/history" method="post">
                            <button class="current">History</button>
                        </form>
                </ul>
        </div>
    </nav>
</header>