<header class="main_admin">
  <nav class="main-nav">
    <div class="container">
      <div class="logos">
        <img src="http://www.mom.gov.et/wp-content/uploads/2021/10/momlogo.jpg" alt="NewsGrid" class="logo">
      </div>
      <div class="buttons">
        <ul>
          <li>
            <form action="/requests" method="post">
              <button class="btn btn-primary">Requests</button>
            </form>
          </li>
          <li>
            <form action="/history" method="post">
              <button class="btn btn-primary">History</button>
            </form>
          </li>
          <li>
            <form action="/report" method="get">
              <button class="btn btn-primary">Report</button>
            </form>
          </li>
          <li>
            <form action="/" method="get">
              <button class="btn btn-primary">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>