<header >
  <nav id="main-nav">
    <div class="container">
      <a href="/"><img src="http://www.mom.gov.et/wp-content/uploads/2021/10/momlogo.jpg" alt="NewsGrid" class="logo"></a>
      <div class="social">
        <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
      <ul>
        <li><a class="<%= path === '/' ? 'current' : '' %>" href="/">Home</a></li>
        <li><a class="<%= path === '/import' ? 'current' : '' %>" href="/import_page">Import</a></li>
        <li><a class="<%= path === '/export' ? 'current' : '' %>" href="/export_page">Export</a></li>
        <li><a class="<%= path === '/adminLogin' ? 'current' : '' %>" href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</header>