<footer>
 <div class="bottom-footer">
     <div class="container">
         <div class="row">
             <div class="col bottom-meta">
                 <div class="bottom-copyright">
                     Copyright © 2020 All Right Reserved. The Ministry of Mines and Petroleum (MoMP).<br>    
                 </div>
                 <a></a>
             </div>
             <div class="col">
                 
             </div>
             <div class="col bottom-social">
                 Designed By <a href="#">AASTU</a>            
             </div>
         </div>
     </div>
 </div>
</footer>