<!-- sirname -->
<div class="form-control half">
 <label for="name">Sir Name</label>
 <input type="text" name="sirName" id="sirName" required>
</div>
<!-- first name -->
<div class="form-control half">
 <label for="name">First Name</label>
 <input type="text" name="name" id="name" required>
</div>
<!-- email -->
<div class="form-control">
 <label for="name">Email</label>
 <input type="email" name="email" id="email" required>
</div>
<!-- phone number -->
<div class="form-control half">
 <label for="name">License Number</label>
 <input type="text" name="license_number" id="license_number" required>
</div>
<div class="form-control half">
 <label for="name">Phone number</label>
 <input type="text" name="phoneNumber" id="phoneNumber" required>
</div>
<!-- mineral name -->
<div class="form-control half">
  <label for="mineral-name">Mineral Type</label>
  <input type="text" name="mineralType" id="mineralType" required>
 </div>
<div class="form-control half">
 <label for="mineral-name">Mineral Name</label>
 <input type="text" name="mineralName" id="mineralName" required>
</div>
<!-- amount -->
<div class="form-control half" >
 <label for="amount">Amount</label>
 <input type="number" name="amount" id="amount" step="0.01" required>
</div>
<!-- price -->
<div class="form-control half">
 <label for="price">Price</label>
 <input type="number" name="price" id="price" step="0.01" required>
</div>
<!-- exported country -->

<!-- description -->
<div class="form-control">
 <label for="description">Description</label>
 <textarea name="description" id="description" rows="5" required></textarea>
</div>
