* {
  box-sizing: border-box;
}

.rowss {
 /* margin: 5px; */
 background-color: whitesmoke;
}

.row .col h2{
 padding: 50px;
 margin-bottom: 4rem;
}

.index_card {
 padding: 2rem;
 background-color: #f8b029e6;
 margin: 50px 25px;

}

.index_card .btn {
 align-items: center;
}

.index_card p{
 text-align: justify;
 padding: 2rem 0;
}

.row .learn{
 padding: 4.5rem 0;
}
.row .learn .fancybox-title{
 size: 18px;
 color: #f8b029e6;
}

.row .learn .fancybox-content{
 size: 80px;
}

.bottom-footer{
 background-color: rgb(31, 31, 100);
 color: #f3f3f3;
}