* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
	font-family: sans-serif;
}

.login-container {
	height: 100vh;
	position: relative;
	background-color: rgb(211, 209, 209);
}

.container-fluid {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 400px;
}

.container-fluid .login-container-inner{
	margin: 1rem;
}

.container-fluid .login-container-inner p{
	text-align: center;
	padding: 8px;
	font-weight: bold;
}

.container-fluid .login-container-inner .login-input input{
  border: 1px solid #a1a1a1;
  font: inherit;
  width: 100%;
	margin: 0.3rem;
	padding: 1rem;
	height: 1rem;
}

.container-fluid .login-container-inner .login-button{
	text-align: center;
	padding: 8px;
}	



.container-fluid .login-container-inner .login-button .login-btn
{
	display: inline-block;
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	border: 1px solid #00695c;
	color: #00695c;
	background: white;
	border-radius: 3px;
	cursor: pointer;

}

.login-btn:hover {
	background-color: #00695c;
	color: white;
}
