<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/overview.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
    <%- include('../includes/user-navigation.ejs') %>
    <main class="full">
			<div> . </div>
			<div class="info">
				<h3>The Gemstone Giant awakens</h3>
				<p>
					Ethiopia’s gemstone potential is exceptionally promising. Ethiopia has many varieties of high quality gemstones, including opals, emeralds, sapphires, amazonite, amber, rubies, tourmaline, aquamarine, chrysoprase, periodt, and as well as various types of quartz, agate, jasper. New discoveries are also on the rise, including the especially exciting discovery of the color-change chrome grossular green garnet, as reported in the  Journal of Gemology in 2018.   These new discoveries have brought Ethiopia’s total reported gems up to over 40. Ethiopia has also become a significant producer of opal, sapphire, and emerald in recent years.  The field is wide open for investors to bring these extraordinary gemstones to a global market. Read more about these opportunities below.
				</p>
			</div>
			<div class="displays">
				<div class="card" style="width: 28rem;">
					<img src="http://www.mom.gov.et/wp-content/uploads/2020/01/emerald-1024x834.png" class="card-img-top" alt="Ethiopian Opals">
					<div class="card-body">
						<h5 class="card-title">Ethiopian Emeralds</h5>
						<p class="card-text">
							Commercial emeralds are suddenly a real and urgent opportunity for investors – Ethiopia is calling.</p>
						<p>
							The vibrant green stone is one of jewellery’s most beautiful and popular gemstones. An emerald pendant necklace owned by Elizabeth Taylor sold for $6.5 million in 2011, breaking down to about $280,000 paid per carat.
							
							Until recently, emerald mining in Ethiopia has largely been carried out by artisanal miners who are organised into unions and cooperatives. As such, emerald mining is emerging as a major sector, creating job opportunities for more than 30,000 Ethiopians. Most emeralds are then exported to Switzerland, Australia and the United States
						</p>
					</div>
				</div>
				<div class="card" style="width: 28rem;">
					<img src="http://www.mom.gov.et/wp-content/uploads/2020/01/opal-1.png" class="card-img-top" alt="Ethiopian Opals">
					<div class="card-body">
						<h5 class="card-title">Ethiopia’s fiery opals</h5>
						<p class="card-text">
							Ethiopia is well on course to become the first challenger to Australian opals.</p>
						<p>
							In 2008, the discovery of spectacular Wollo opals in northern Ethiopia changed the game. This high quality, structurally stable and strikingly beautiful opal was exhibited at the Tucson Gem and Mineral Show in 2010, and Ethiopian opals have been unstoppable ever since. Between 2000 and 2014 alone, Ethiopia’s exports of opals increased by 136.6%. More discoveries followed – there are now four types of opals being mined in Ethiopia, with the majority only discovered in the last decade:
						</p>
					</div>
				</div>
				<div class="card" style="width: 28rem;">
					<img src="http://www.mom.gov.et/wp-content/uploads/2020/01/spphire.png" class="card-img-top" alt="Ethiopian Opals">
					<div class="card-body">
						<h5 class="card-title">Quality sapphires are found in Ethiopia</h5>
						<p class="card-text">
							Did you know that the top-end Apple Watch has sapphire glass in its screen? It does. But despite such industrial uses, this most beautiful gemstone is best known – and loved – for its breathtaking appearance in jewellery</p>
						<p>
							Deriving its name from the Greek word sappheiros, sapphires have been used in jewellery for thousands of years. The best-known sapphires are the brilliant blue variety, but they actually come in every colour of the rainbow—including orange, green, yellow and pink. Red sapphires are better known as rubies, although both are varieties of the mineral corundum.
						</p>
					</div>
				</div>
			</div>
		</main>
		<%- include('../includes/user-footer.ejs') %>