<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/index.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
    <%- include('../includes/user-navigation.ejs') %>
	 <main>
        <div class="showcasess">
            <img src="../../public//photo/mine1.jpg">
        </div>
        <div class="panel">
            <h4 class="top">Welcome to Ethiopian mining</h4>
            <p class="description">The goal of the Mining website is to provide an electronic platform for user to make a request to import or export minerals.</p>
            <h4>Registration for importing and exporting minerals </h4>
            <p class="description">
                Please fill out the form carefully. Enter your address correctly. The response will be sent to you with the email address you provided. 
            </p>
            <div class="forms">
                <a href="/import_page" class="btn">Import</a>
                <a href="/export_page" class="btn">Export</a>
            </div>
        </div>
        <div class="rowss">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="cms-heading-tag  ">
                        Our Vision and Mission</h2>
                    </div>
                    <div class="col-3 index_card">             
                        <h3 class="wg-fancybox-title">
                            Our Vision        
                        </h3>
                        <div class="wg-fancybox-content">
                            <p>
                                As a country, Ethiopia’s vision is to realise middle income country status by 2025. This vision, and the roadmap to achieving this goal, are set out.       
                            </p>
                        </div>
                    </div>
                    <div class="col-3 index_card">
                        <h3 class="wg-fancybox-title">
                            Our Mission
                        </h3>
                        <div class="wg-fancybox-content">
                            <p>
                                Generate, manage and deliver the basic geosciences (mineral and geo-energy) data of the country for the society and the business sector.....       
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col learn">             
                        <p class="fancybox-title">
                            Land of opportunity        
                        </p>
                        <div class="fancybox-content">
                            <h4>Extraordinary extractives potential</h4>
                            <p>                             
                            Ethiopia’s virtually untapped, diverse and vast mineral and petroleum resources offer huge potential opportunities for exploration and development.      
                            </p>
                        </div>
                    </div>
                    <div class="col learn">
                        <div class="wg-fancybox-content">
                            <p>
                                These include petroleum, gold, gemstones, tantalum, potash, iron ore, and various industrial, energy and construction minerals. This extraordinary potential coupled with improving government policies and regulations means Ethiopia is now a priority destination for international mining and petroleum investors      
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-secondary">
                                Learn More About Mining
                            </button>
                            <button class="btn btn-secondary">
                                Learn More About Petroleum
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	</main>
    <footer>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col bottom-meta">
                        <div class="bottom-copyright">
                            Copyright © 2020 All Right Reserved. The Ministry of Mines and Petroleum (MoMP).<br>    
                        </div>
                        <a></a>
                    </div>
                    <div class="col">
                        
                    </div>
                    <div class="col bottom-social">
                        Designed By <a href="https://cornerstone-technology.com">Cornerstone Technology</a>            
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


