<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/overview.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
    <%- include('../includes/user-navigation.ejs') %>
    <main class="">
			<div class="full">
				<div> . </div>
				<div class="info">
					<h3>Mining Licensing and Legislations</h3>
					<p>
						Ethiopia has a stable legal and regulatory framework in place. For the sake of convenience, the most important of Ethiopia’s Federal mining laws are summarized below.
					</p>
				</div>
				<div class="info">

					<h3>Licensing</h3>
					<p>The MoMP issues seven (7) types of mining license, known officially as ‘mineral operations licences’, in total. These are:</p>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									A Reconnaissance License
								</button>
							</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								A Reconnaissance License allows its holders to do a general search for any mineral in a particular region. It is issued for an 18 month period, and is non-renewable and non-exclusive.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									An Exploration License
								</button>
							</h5>
						</div>
						<div id="collapseTwo"  aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								An Exploration License allows its holders to search for any mineral in a specified region by means of photographs, images, geological, geochemical, geophysical or drilling. This License is exclusive, and is initially issued for 3 years. An Exploration license can be renewed further up to a maximum of 10 years in total. However, upon each renewal the license holder is required to relinquish a portion of the licensed exploration area unless they can declare a resource. See Proclamation No 816/2013 for more details about how this works
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									A Retention License
								</button>
							</h5>
						</div>
						<div id="collapseThree"  aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								A Retention License can be issued to an applicant that has discovered a mineral resource of economic significance, but which cannot be developed immediately due to adverse market conditions or because the required processing technology might be unavailable. This is an exclusive license that is initially issued for 3 years. After the 3 year period it may be renewed once more for an additional 3 years 
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFour">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									An Artisanal Mining License
								</button>
							</h5>
						</div>
						<div id="collapseFour"  aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								An Artisanal Mining License is issued either to an individual or a small or micro enterprise whose mining operation is mostly manual and does not involve employed workers. It is exclusive, non-renewable and is issued for a maximum of 2 years. 
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFive">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									A Special Small Scale Mining License
								</button>
							</h5>
						</div>
						<div id="collapseFive"  aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								A Special Small Scale Mining License is issued to holders of an Artisanal Mining License who now have the capacity to employ machinery in their mining operations. A Special Small Scale Mining License is exclusive, and is only issued to holders of an Artisanal Mining License. It is initially issued for 10 years, after which it needs to be renewed every 5 years. 
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingSix">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									A Small Scale Mining License
								</button>
							</h5>
						</div>
						<div id="collapseSix" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								A Small Scale Mining License is issued a mining operation whose annual run-of-mine ore does not exceed a specified amount. The maximum allowed run-of-mine ore amount varies depending on the relevant mineral. A Special Small Scale Mining License is exclusive, is initially issued for 10 years, and after the initial 10 year period, it needs to be renewed every 5 years. The maximum run-of-mine ore for a Small Scale Mining license can be found on our Applying for a Mineral Operations License page 
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingSeven">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									A Large Scale Mining License
								</button>
							</h5>
						</div>
						<div id="collapseSeven" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								A Large Scale Mining License is issued to a mining operation whose annual run-off of mine ore exceeds the maximums amounts allowed under a Small Scale License. It is exclusive, initially issued for 20 years, and after the initial 20 year period, it needs to be renewed every 10 years. 
							</div>
						</div>
					</div>

				</div>
				</div>
			</div>
		</main>
		<%- include('../includes/user-footer.ejs') %>