<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/overview.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
    <%- include('../includes/user-navigation.ejs') %>
    <main>
     	<div class="full">
				 <div class="top">
					 <h1>Overview of Ethiopia's mining sector</h1>
				 </div>
      	<div class="info">
					<h3>A snapshot of Ethiopia's mining sector</h3>
					<p>
						 On this page, you can learn more about Ethiopia’s mining sector, including an overview of its natural resources, mining’s current economic contribution, the reforms which are taking place, and who the key actors are.
	
						 Despite a long mining history, dating back more than a millennium, commercial and large scale mining is still in its early stages in Ethiopia. The mining industry is a sector with significant potential for the economy.
	
						 Ethiopia’s virtually untapped, diverse and vast mineral resources offer huge potential opportunities for exploration and development. These include tantalum, potash, gemstones, gold, iron ore and various industrial, energy and construction minerals, and many more.
	
						 This potential coupled with improving government policies and regulations means Ethiopia is fast becoming a destination of choice for international mining investors and developers. 
	
						 Scroll down to see more data about the sector’s current contribution to Ethiopia’s exports, GDP, revenue and employment numbers, sourced from EITI data.
					</p>
				</div>
				<div class="info">
					<h3>Reforming the mining sector</h3>
					<p>					
						The Government of Ethiopia has set out a clear “Pathway to Prosperity” through its newest Home-Grown Economic Reform Agenda, enabling Ethiopia to reach the status of a middle-income country by 2030. 
	
						Considerable progress has already been made. Double digit growth and over six-fold increase per capita during 2004-18 led to a 15 percentage points decline in the rate of poverty in Ethiopia (poverty headcount ratio of 39% of the population in 2004 to 24% of the population in 2018).
	
						A vital part of this ambitious agenda for the country is encouraging private sector investment, streamlining bureaucratic and regulatory procedures, updating policies, and building institutional capacity. This is especially true of the mining sector, which is a priority area for the reforms.
	
					</p>
				</div>
     	</div>
    </main>
		<%- include('../includes/user-footer.ejs') %>