<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/overview.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
  <%- include('../includes/user-navigation.ejs') %>
  <main class="choice">
		<div class="import_view view">
			<a href="/import_page" class="btn">Import</a>
		</div>
		<div class="export_view view">
			<a href="/export_page" class="btn">Export</a>
		</div>
  </main>
	<%- include('../includes/user-footer.ejs') %>
</body>