<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/css/overview.css">
<%- include('../includes/user-head.ejs') %>
</head>
<body>
    <%- include('../includes/user-navigation.ejs') %>
    <main class="">
			<div class="full">
				<div> . </div>
				<div class="info">
					<h3>Region-Specific legislation & regulations</h3>
					<p>
						Ethiopia is a Federal Republic, made up of 9 regional states and two charter cities (Addis Ababa and Dire Dawa). Ethiopia’s regions issue their own proclamations and regulations, which businesses operating in their region would need to comply with. However, the Amhara region, in Ethiopia’s northwest, is the only region at present to have its own legislation and regulations that apply specifically to mining activities. As such, investors considering operating in Amhara should also be aware of the following 6 documents:
					</p>
						<p>1. Regulation to decide the rate of land lease license, Royalty, and mining income tax in the Amhara region
						</p>
						<p>2. Directive to decide construction minerals piece-price rate in Amhara region</p>
						<p>3. Manual on the use of mining legal invoices during selling of minerals in Amhara region</p>					 
						<p>4. Directive on creation of Job opportunity to youth in the Amhara region:</p>					 
						<p>5. Proclamation on Establishment The Amhara National Regional State Mines Resource Development Expansion Agency</p>					 
						<p>6. Directive on the establishment of a team supporting the activity of inspection and follow-up of mining operations in the Amhara region</p>	
					<p>
						To access these, please contact the Amhara National Regional State Mines Resource Development Expansion Agency
					</p>
				</div>
				
			</div>
		</main>
		<%- include('../includes/user-footer.ejs') %>